<launch>
  <arg name="RUN_RVIZ" default="true" />
  <arg name="SIMULATOR_NAME" default="iiwa14d(Robot)0" />
  <arg name="USE_UNSTABLE_RTC" default="false"/>
  <arg name="USE_EMERGENCYSTOPPER" default="false" />
  <arg name="USE_REFERENCEFORCEUPDATER" default="false" />
  <arg name="USE_OBJECTCONTACTTURNAROUNDDETECTOR" default="false" />

  <rosparam command="load" file="$(find teleop_dual_arm)/iiwa14d_controller_config.yaml" />

  <arg name="corbaport" default="15005" />
  <arg name="managerport" default="2810" />
  <arg name="nameserver" default="localhost" />
  <include file="$(find hrpsys_ros_bridge)/launch/hrpsys_ros_bridge.launch">
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="MODEL_FILE" value="$(find teleop_dual_arm)/iiwa14d.dae" />
    <arg name="CONF_FILE" value="$(find teleop_dual_arm)/iiwa14d.conf" />
    <arg name="COLLADA_FILE" value="$(find teleop_dual_arm)/iiwa14d.dae" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="managerport" default="$(arg managerport)" />
    <arg name="nameserver" default="$(arg nameserver)" />
    <arg name="USE_WALKING" default="false" if="$(arg USE_UNSTABLE_RTC)"/>
    <arg name="USE_COLLISIONCHECK" default="false" />
    <arg name="USE_IMPEDANCECONTROLLER" default="false" if="$(arg USE_UNSTABLE_RTC)" />
    <arg name="USE_EMERGENCYSTOPPER" default="$(arg USE_EMERGENCYSTOPPER)" />
    <arg name="USE_REFERENCEFORCEUPDATER" default="$(arg USE_REFERENCEFORCEUPDATER)" />
    <arg name="USE_OBJECTCONTACTTURNAROUNDDETECTOR" default="$(arg USE_OBJECTCONTACTTURNAROUNDDETECTOR)" />
    <arg name="USE_ROBOT_TYPE_SETTING" default="false" if="$(arg USE_UNSTABLE_RTC)" />
    <arg name="BASE_LINK" default="??????????" />
  </include>

  <group if="$(arg RUN_RVIZ)" >
    <node name="samplerobot_rviz" pkg="rviz" type="rviz" respawn="true"
          args="-sync -d $(find teleop_dual_arm)/iiwa14d.rviz" />
  </group>
</launch>


