<launch>
  <arg name="KILL_SERVERS" default="false" />
  <arg name="NOSIM" default="false" />
  <arg name="REALTIME" default="true" />
  <arg name="RUN_RVIZ" default="true" />
  <arg name="GUI" default="true" />
  <arg name="PROJECT_FILE" default="$(find teleop_dual_arm)/iiwa14d_nosim.xml" if="$(arg NOSIM)"/>
  <arg name="PROJECT_FILE" default="$(find teleop_dual_arm)/iiwa14d.xml" unless="$(arg NOSIM)"/>
  <arg name="SIMULATOR_NAME" default="iiwa14d(Robot)0" />
  <arg name="corbaport" default="15005" />
  <arg name="managerport" default="2810" />
  <arg name="hrpsys_precreate_rtc" default="HGcontroller"/>
  <arg name="USE_UNSTABLE_RTC" default="true"/>
  <arg name="USE_EMERGENCYSTOPPER" default="false" />
  <arg name="USE_REFERENCEFORCEUPDATER" default="false" />
  <arg name="USE_OBJECTCONTACTTURNAROUNDDETECTOR" default="false" />
  <include file="$(find teleop_dual_arm)/launch/iiwa14d_hrpsys.launch" >
    <arg name="KILL_SERVERS" default="$(arg KILL_SERVERS)" />
    <arg name="NOSIM" value="$(arg NOSIM)" />
    <arg name="PROJECT_FILE" value="$(arg PROJECT_FILE)" />
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="REALTIME" default="$(arg REALTIME)" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="managerport" default="$(arg managerport)" />
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="hrpsys_precreate_rtc" default="$(arg hrpsys_precreate_rtc)" />
    <arg name="USE_UNSTABLE_RTC" default="$(arg USE_UNSTABLE_RTC)"/>
  </include>

  <include file="$(find teleop_dual_arm)/launch/iiwa14d_ros_bridge.launch" >
    <arg name="SIMULATOR_NAME" value="$(arg SIMULATOR_NAME)" />
    <arg name="RUN_RVIZ" default="$(arg RUN_RVIZ)" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="managerport" default="$(arg managerport)" />
    <arg name="USE_UNSTABLE_RTC" default="$(arg USE_UNSTABLE_RTC)"/>
    <arg name="USE_EMERGENCYSTOPPER" default="$(arg USE_EMERGENCYSTOPPER)" />
    <arg name="USE_REFERENCEFORCEUPDATER" default="$(arg USE_REFERENCEFORCEUPDATER)" />
    <arg name="USE_OBJECTCONTACTTURNAROUNDDETECTOR" default="$(arg USE_OBJECTCONTACTTURNAROUNDDETECTOR)" />
  </include>


<node name="js_to_LJ1" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ1_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[1])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_LJ2" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ2_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[2])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_LJ3" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ3_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[3])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_LJ4" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ4_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[4])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_LJ5" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ5_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[5])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_LJ6" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ6_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[6])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_LJ7" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_LJ7_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[7])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ1" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ1_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[10])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ2" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ2_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[11])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ3" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ3_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[12])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ4" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ4_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[13])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ5" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ5_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[14])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ6" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ6_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[15])" --import std_msgs --wait-for-start' output="screen" required="true"/>
<node name="js_to_RJ7" pkg="topic_tools" type="transform" args='/joint_states /iiwa/PositionJointInterface_RJ7_controller/command std_msgs/Float64 "std_msgs.msg.Float64(m.position[16])" --import std_msgs --wait-for-start' output="screen" required="true"/>

</launch>


